@import "../../styles/variables";

$sub-navbar-expand-height: 80px;
$sub-navbar-narrow-height: 32px;

#sub-navbar {
  z-index: 1;

  display: flex;
  align-items: flex-end;

  width: 100%;
  padding-top: $sub-navbar-expand-height;

  border-bottom: 1px solid $light-grey-3;
  background-color: $pure-white;

  span {
    transition: font-size 0.15s ease-in-out;

    font-size: 32px;
    font-weight: 200;
    line-height: 50px;

    &.secondaryText {
      padding: 0 padding(1/3);
    }
    &.canClick {
      cursor: pointer;
      &:hover {
        color: $light-red1;
      }
    }
  }

  &.narrow {
    position: fixed;

    height: $sub-navbar-narrow-height;
    padding-top: #{$nav-bar-height + $sub-navbar-narrow-height};

    span {
      font-size: 16px;
      line-height: $sub-navbar-narrow-height;
    }
  }

  @media screen and (max-width: $screen-phone) {
    margin-top: #{$nav-bar-mobile-height + 1px};
  }
}
