@import "../../styles/common";
#create-library-modal{
  .modal-two-body {
    padding: 0 padding(1/3);
    .create-library-modal-content {
      display: flex;
      flex-direction: column;

      padding: padding() 0 padding(4/3);
      .library-type-icons,
      .library-type-details {
        display: flex;
        flex-direction: row;
        > div {
          display: flex;
          flex-direction: column;

          padding: 0 padding();

          align-items: center;
          flex-basis: 0;
          flex-grow: 1;
        }
      }
      .library-type-icons {
        margin-bottom: 27px;

        align-items: center;
      }
      .library-type-details {
        > div {
          justify-content: space-between;
          &:not(:last-child) {
            border-right: 1px solid $light-grey-3;
          }
          h3 {
            margin: 0;
            margin-bottom: padding(1/6);

            text-align: center;

            font-size: 16px;
          }
          ul {
            padding-bottom: padding();
            li {
              position: relative;

              padding: padding(1/3) 0 padding(1/3) padding(1/3);

              color: $dark-grey-1;

              font-size: 12px;
              &::before {
                position: absolute;
                top: padding(1/2);
                left: -4px;

                content: "•";
              }
            }
          }
          .outline-button {
            font-size: 13px;
          }
        }
      }
    }
    .create-library-modal-form {
      display: flex;
      flex-direction: row;

      padding-top: padding(4/3);
      .form {
        width: 500px;
        padding: 0 padding();
        .form-section-side {
          margin-right: padding();
          span {
            color: $dark-grey-1;

            font-size: 14px;
            line-height: 1.67;
          }
        }
        .form-section-main {
          .text-field.multi-line > textarea, .text-field.multi-line > input {
            height: 156px;
          }
        }
      }
      .type {
        display: flex;
        flex-direction: column;

        width: 200px;
        height: 336px;

        border-left: 1px solid $light-grey-3;

        align-items: center;
        justify-content: center;
        > svg {
          width: 96px;
          height: 96px;
        }
        > span {
          margin-top: padding();

          font-size: 16px;
          font-weight: bold;
          + div {
            padding: 0 28px;

            color: $dark-grey-1;

            font-size: 12px;

            .toggle-button {
              .toggle:checked + .switch {
                border-color: $dark-blue;
                background: $oice-blue;
              }
              span:first-child {
                &.active { color: $dark-grey-2; }
              }
              span:last-child {
                &.active { color: $oice-blue; }
              }
            }
          }
        }
      }
    }
  }
}
