ul.visual-list {
  > li.visual-item {
    padding: 20px;
    display: inline-block;
    width: 50%;
    border-radius: 3px;
    overflow: hidden;

    img {
      border-radius: 5px;
    }

    .tutorial-youtube {
      cursor: pointer;
      position: relative;
      .tutorial-intro {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $pure-white;
        padding: $min-padding;
        border: $border-style1;
        border-radius: 5px;
        border-top-right-radius: initial;
        border-top-left-radius: initial;
      }
    }


    @media screen and (max-width: $screen-tablet) {
      width: 100%;
      padding: $min-padding 0;
    }
  }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
