@import "../../styles/variables";

$details-margin: 20px;
$profile-icon-size: 50px;
$arrow-icon-size: 14px;
$likecoin-button-mobile-height: 72px;

@keyframes slide-down {
  from {
    transform: translateY(-8px);

    opacity: 0;
  }
  to {
    transform: translateY(0);

    opacity: 1;
  }
}

.oice-single-view,
.deep-view-wrapper {
  padding-top: 0 !important;
}

.oice-single-view {
  height: 100%;

  &.mobile {
    padding-bottom: $likecoin-button-mobile-height;

    > .container {
      margin: 0;
      padding: 0;

      > * {
        width: 100%;
      }

      .oice-single-view-sidebar {
        margin: 0 8px;
        padding-left: 0;
      }
    }
  }
}

.oice-single-view > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: $min-padding 0;
  padding: 0 $min-padding;

  .oice-player-wrapper {
    .iframe-wrapper {
      width: inherit;
      height: inherit;
    }

    .oice-player {
      overflow: hidden;

      width: inherit;
      height: inherit;

      border: none;
    }
  }
}

.oice-player-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;

  .oice-upnext-info {
    position: relative;

    text-align: center;

    color: $pure-white;
  }

  .oice-upnext-autoplay-button {
    display: inline-block;

    margin-top: padding(3/2);

    cursor: pointer;
  }
}

.oice-play-button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:before {
    position: absolute;

    width: 100%;
    height: 100%;

    content: '';

    background-color: rgba(0, 0, 0, 0.7);
  }

  svg {
    transform-origin: center top;
    animation-name: play-button-shake;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    border: 4px solid white;
    border-radius: 50%;

    @keyframes play-button-shake {
      0%, 50% {
        transform: rotateZ(0deg);
      }
      70% {
        transform: rotateZ(-3deg);
      }
      85% {
        transform: rotateZ(6deg);
      }
      100% {
        transform: rotateZ(-12deg);
      }
    }
  }
}

.oice-single-view-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: content-box;
  width: 300px;
  min-width: 300px;
  padding-left: $min-padding;

  &__details {
    > * {
      padding: 0 12px;

      animation: slide-down 0.3s ease-in-out;
    }

    > hr {
      margin: 16px 8px;

      border-top: $border-style4;
    }
  }

  .expansion-panel {
    margin-top: 16px;

    &.expanded {
      .arrow-icon {
        margin-top: 20px;
      }
    }

    &.collapsed {
      .arrow-icon {
        top: 50% !important;

        transform: translateY(-50%);
      }
    }

    .credits-detailed {
      animation: slide-down 0.3s ease-in-out;
    }
  }

  .credit-users {
    position: relative;

    overflow: hidden;

    &.mini.short {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
    }

    .avatar {
      float: left;
    }
  }

  .credits-detailed {
    .credits-group {
      &:first-child h2 {
        margin-top: 0;
      }

      h2 {
        margin: 10px 0 5px 0;

        font-size: 14px;
        font-weight: 400;
      }

      .avatar:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .get-app, .be-creator {
    display: flex;
    align-items: center;

    margin-top: 24px;

    .outline-button {
      flex-grow: 1;

      height: 32px;
      margin-left: 12px;

      font-size: 15px;

      &:not(:hover) {
        color: $dark-grey-2 !important;
      }

      span {
        line-height: 32px;
      }
    }
  }

  .episode-picker {
    @media (max-width: 768px) {
      margin-top: 16px;
    }
  }
}

.oice-single-view {
  &__director {
    display: flex;
    align-items: center;

    margin-bottom: 16px;

    @media (max-width: 768px) {
      margin: 16px;
    }

    .avatar {
      margin-right: 16px;
    }

    p {
      margin: 0;

      color: $dark-grey-2;

      &:first-child {
        color: $dark-grey-1;

        font-size: 14px;
      }
    }

    a {
      text-decoration: none;
    }
  }

  &__like-button {
    &.sticky {
      position: fixed;
      z-index: 1;
      right: 0;
      bottom: 0;
      left: 0;

      height: $likecoin-button-mobile-height;
      padding: 6px 16px;

      border-top: $border-style4;
      background-color: rgba(255, 255, 255, 0.8);
    }

    &:not(.sticky) {
      margin-top: 24px;
    }

    iframe {
      height: 186px;

      @media (min-width: $screen-tablet + 1px) {
        width: 152%;

        transform: translateX(-40px) translateY(24px);
      }
      @media (max-width: $screen-tablet) {
        transform: scale(1.1) translateX(-26px) translateY(-56px)
      }
    }
  }

  &__like-button-wrapper {
    color: $dark-grey-1;

    font-size: 12px;
  }
}
