@import "../../styles/variables";

#sms-modal {
  > .modal-two-header {
    height: 70px;
    padding: padding();
    .modal-title {
      right: 0;
      left: 0;

      margin: 0 auto;

      font-size: 18px;
      font-weight: 500;
    }
  }

  > .modal-two-container > .modal-two-body {
    display: flex;
    flex-direction: column;

    padding: 0 32px;

    hr {
      margin-bottom: 0;
    }
    .sms-steps {
      display: flex;
      flex-direction: column;
      .sms-step {
        display: flex;

        border-bottom: $border-style4;
        .step-number {
          min-width: padding(4/3);
          height: padding(4/3);
          margin: padding(1/3);
          padding-top: 5px;

          text-align: center;

          border: $border-style4;
          border-radius: 50%;
        }
        .step-details {
          padding-left: padding(1/3);
          > h3 {
            margin: 0;

            font-size: 16px;
            font-weight: bold;
            line-height: 48px;
          }
          .send-sms {
            .mobile-number-row {
              display: flex;

              align-items: center;
              .dropdown {
                width: 200px;
              }
              .text-field {
                width: 150px;
                margin-left: padding(1/3);
                > input {
                  height: 38px;
                }
              }
              .send-button {
                position: relative;

                margin-left: padding(2/3);
                .loading-indicator {
                  position: absolute;

                  margin: 0;
                }
                .outline-button {
                  height: padding();

                  font-size: 12px;
                  > span {
                    line-height: padding();
                  }
                }
              }
            }
            > span {
              display: block;

              margin: padding(2/3) 0;

              color: $oice-blue;

              font-size: 13px;
            }
            &.sentSMS {
              > span {
                color: $oice-red;
              }
            }
          }
        }
      }
      .flat-button {
        padding: padding(2/3) 0 padding();

        text-decoration: underline;

        font-size: 12px;

        align-self: flex-end;

        &:not(:hover) {
          color: $dark-grey-1;
        }
      }
    }
    .store-download {
      margin: padding(2) 0;

      color: $dark-grey-1;

      align-self: center;

      > p {
        margin: padding(2/3) 0;

        font-size: 14px;
      }

      > * {
        margin: auto;
      }

      .store-logos {
        display: flex;

        justify-content: center;

        svg,
        img {
          width: 153px;
          height: 46px;
        }

        svg {
          color: $pure-black;
        }
      }
    }
  }
}
