@import "../../styles/variables";

$button-border-radius: padding(3/4);

@mixin outline-button-style($color) {
  color: $color !important;
  border-color: $color !important;

  &:hover,
  &:active {
    color: $pure-white !important;
    background-color: $color !important;
  }
}

.outline-button {
  position: relative;

  height: padding(3/2);
  padding: 0 padding();

  cursor: pointer;
  transition: color, border-color, background-color .1s ease-in;
  text-align: center;

  border-width: 1px;
  border-style: solid;
  border-radius: $button-border-radius;

  font-weight: 500;

  @include outline-button-style($dark-grey-2);

  &:active {
    transform: translateY(1px);
  }

  &.fluid {
    width: 100%;
  }

  &.red {
    @include outline-button-style($oice-red);
  }

  &.green {
    @include outline-button-style($oice-green);
  }

  &.blue {
    @include outline-button-style($oice-blue);
  }

  &.light-grey {
    @include outline-button-style($dark-grey-1);
  }

  &.gradient-likecoin {
    color: $like-green !important;
    border: none;
    background-image: linear-gradient(237deg, #d2f0f0, #f0e6b4);

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: 3px;

      content: " ";
      transition: opacity .1s ease-in;

      border-radius: $button-border-radius;
      background-color: $pure-white;
    }

    span {
      position: relative;

      transition: color, text-shadow .1s ease-in;
    }

    &:hover {
      &:before {
        opacity: 0;
      }

      span {
        color: $pure-white;
        text-shadow: 0px 0px 4px $like-green;
      }
    }
  }

  &.disabled {
    opacity: 1 !important;

    @include outline-button-style($light-gray3);
  }

  span {
    width: 100%;

    line-height: padding(3/2);
  }

  div.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    > svg {
      width: padding(5/6);
      height: padding(5/6);
    }
  }
}
