.check-box {
  > div {
    display: flex;
    align-items: center;

    margin-top: 20px;

    input[type='checkbox'] {
      flex-shrink: 0;

      width: 14px;
    	height: 14px;
      margin-right: 8px;

    	border: $border-style1;
    	border-radius: 2px;
      outline: none;
    	background: $pure-white;

      -webkit-appearance: none;

      transition: all .2s ease-in-out;

      &:checked {
        background: {
          position: center;

          color: $dark-green1;

          image: url('/img/checked-mark.png');
          repeat: no-repeat;
          origin: content-box;
          size: 10px 10px;
        }
      }
    }

    > span {
      font-size: $font-size-normal;
    }

    > label {
      display: flex;
      align-items: center;
      flex-direction: row;

	    color: $dark-gray3;

      font-size: 14px;
    }
  }

  div:first-child {
    margin-top: 0;
  }
}
