div.tag {
  overflow: hidden;
  padding: 3px 8px;
  border-radius: 2px;
  background-color: $light-gray2;
  border: $border-style1;
  margin-top: $min-padding-narrow;
  margin-left: $min-padding-narrow;
  display: inline-block;
  transition: background-color .25s ease-out;

  &:hover {
    background-color: $light-gray3;
  }

  .tag-detail {
    display: flex;
    justify-content: center;
    align-items: center;

    div.tag-icon {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 6px;
    }

    > span {
      line-height: 20px;
      font-size: $font-size-normal;
      color: $dark-gray5;

      &.tag-icon-cross {
        cursor: pointer;
        margin-left: $min-padding-narrow;

        &:hover {
          color: black;
        }

        svg {
          width: 10px;
          height: 10px;
        }
      }
    }

    > img {
      margin-left: 5px;
      cursor: pointer;

      &:not(.canDelete) {
        display: none;
      }
    }
  }
}
