@import "../../styles/variables";

.caption {
  text-align: center;

  &.absolute {
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;

    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: $screen-phone) {
      width: 100%;
    }
  }

  h2 {
    margin: 0 0 padding(1/3);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: $dark-grey-2;
  }

  p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: $dark-grey-2;
  }
}
