@import "../../styles/variables";

$carousel-height: 384px;

#landing-section {
  position: relative;

  overflow: hidden;

  background-color: $light-grey-1;

  .carousel-wrapper {
    height: $carousel-height;
  }

  .section-wrapper {
    height: 100%;

    background-color: $pure-white;

    > div {
      position: relative;

      min-height: 268px;
    }

    .panel {
      position: relative;

      display: flex;
      align-items: center;

      min-height: 144px;
      padding: 16px 24px;

      background-color: $light-grey-1;

      @media screen and (max-width: $screen-tablet) {
        flex-direction: column;
      }
    }
  }

  .idol {
    position: absolute;
    top: -#{$carousel-height};
    left: 50%;

    width: 360px;
    height: 640px;
    margin-top: 10px;

    transform: translateX(-50%);
    pointer-events: none;

    background-image: url('/static/img/landing/idol.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    @media screen and (max-width: $screen-desktop) {
      mask-image: linear-gradient(
        white 58%,
        transparentize(white, 0.85) 70%,
        white 100%
      );
    }

    @media screen and (max-width: $screen-tablet) {
      display: none;
    }
  }

  .slogan {
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    > div {
      margin: -4px -16px;

	    background-image: linear-gradient(to left, #55a8e5, #7850d9 50%, #730a70);
      -webkit-background-clip: text;
      background-clip: text;

      -webkit-text-fill-color: transparent;

      @media screen and (max-width: $screen-tablet) {
        justify-content: center;
      }

      span {
        display: block;

        margin: 4px 16px;

        font-size: 44px;
        line-height: 1;

        @media screen and (max-width: $screen-tablet) {
          text-align: center;
        }

        @media screen and (max-width: $screen-phone) {
          font-size: 32px;
        }
      }
    }
  }

  .registration-portal {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;

    width: 100%;

    > div {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: $screen-tablet) {
        align-items: center;

        width: 100%;
      }
    }

    .writer {
      width: 100%;
      margin-top: 18px;
      padding: 8px 32px;

      cursor: pointer;
      transition: all .25s ease-out;
      text-align: left;
      text-decoration: none;

      color: $pure-white;
    	border-radius: 10px;
    	background-image: linear-gradient(280deg, #f9aadb, #e73030 51%, #df4b96);
    	box-shadow: 20px 10px 24px 0 rgba(0, 0, 0, 0.2);

      font-size: 30px;
      font-weight: 300;
    	line-height: 36px;

    	object-fit: contain;

      &:hover {
        transform: scale(0.99);

        color: transparentize($pure-white, 0.2);
        box-shadow: 10px 5px 18px 0 rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: scale(0.97) translateY(1px);

        color: transparentize($pure-white, 0.7);
        box-shadow: 10px 4px 20px 2px rgba(0, 0, 0, 0.3);
      }

      @media screen and (min-width: $screen-tablet + 1px ) {
        min-width: 360px;
      }

      @media screen and (max-width: $screen-tablet) {
        width: auto;

        text-align: center;

        font-size: 24px;
        line-height: 24px;
      }
    }

    .reader {
      top: 100%;

      display: inline-block;

      margin: 12px 32px;

      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
    }
  }

  .scroll-indicator {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: calc((100% - 40px) / 2);

    box-sizing: content-box;
    width: 24px;
    height: 12px;
    padding: 12px;

    cursor: pointer;
    animation-name: scroll-indicator-animation;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    color: $light-grey-3;

    @keyframes scroll-indicator-animation {
      0%   { transform: translateY(-3px); }
      100% { transform: translateY(3px); }
    }

    @keyframes scroll-indicator-animation-quick {
      0%   { transform: translateY(-2px); }
      100% { transform: translateY(2px); }
    }

    &:hover {
      animation-name: scroll-indicator-animation-quick;
      animation-duration: .25s;

      svg {
        transform: scale(1.1);

        color: $dark-grey-2;
      }
    }

    svg {
      transition: all .2s ease-in-out;
    }
  }
}
