@import "../../styles/variables";

$carousel-height: 384px;

#landing-section {
  position: relative;

  overflow: hidden;

  background-color: $light-grey-1;

  .carousel-wrapper {
    height: $carousel-height;
  }

  .section-wrapper {
    height: 100%;
    padding: 24px 40px 0px;

    background-color: $pure-white;

    > div {
      display: flex;
      flex-direction: column;

      max-width: $max-width;
      margin: auto;
    }

    @media screen and (min-width: $screen-desktop + 1px) {
      min-height: 320px;
    }
  }

  .idol {
    position: absolute;
    top: -#{$carousel-height};
    left: 50%;

    width: 360px;
    height: 640px;
    margin-top: 10px;

    transform: translateX(-50%);
    pointer-events: none;

    background-image: url('/static/img/landing/idol.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    @media screen and (max-width: $screen-desktop) {
      mask-image: linear-gradient(white 60%, transparent 80%);
    }
  }

  .slogan {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 60%;

    height: 100%;

    pointer-events: none;

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  .registration-portal {
    z-index: 1;

    width: 100%;
    height: 175px;
    margin-top: 40px;

    @media screen and (min-width: $screen-tablet + 1px) {
      align-self: flex-end;

      width: calc(100% / 3);
      min-width: 400px;
    }

    > div {
      display: flex;
      flex-direction: column;

      width: 100%;

      @media screen and (max-width: $screen-tablet) {
        align-items: center;
      }
    }

    .writer {
      width: 100%;
      padding: 14px 32px;

      cursor: pointer;
      transition: all .25s ease-out;
      text-align: left;
      text-decoration: none;

      color: $pure-white;
    	border-radius: 10px;
    	background-image: linear-gradient(280deg, #f9aadb, #e73030 51%, #df4b96);
    	box-shadow: 20px 10px 24px 0 rgba(0, 0, 0, 0.2);

      font-size: 36px;
      font-weight: 300;
    	line-height: 36px;

    	object-fit: contain;

      &:hover {
        transform: scale(0.99);

        color: transparentize($pure-white, 0.2);
        box-shadow: 10px 5px 18px 0 rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: scale(0.97) translateY(1px);

        color: transparentize($pure-white, 0.7);
        box-shadow: 10px 4px 20px 2px rgba(0, 0, 0, 0.3);
      }

      @media screen and (max-width: $screen-tablet) {
        width: auto;

        text-align: center;

        font-size: 24px;
        line-height: 24px;
      }
    }

    .reader {
      display: inline-block;

      margin: 12px 16px;

      font-size: 16px;
      font-weight: 300;
      line-height: 16px;
    }
  }

  .scroll-indicator {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: calc((100% - 40px) / 2);

    box-sizing: content-box;
    width: 24px;
    height: 12px;
    padding: 12px;

    cursor: pointer;
    animation-name: scroll-indicator-animation;
    animation-duration: .75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    color: $light-grey-3;

    @keyframes scroll-indicator-animation {
      0%   { transform: translateY(-3px); }
      100% { transform: translateY(3px); }
    }

    @keyframes scroll-indicator-animation-quick {
      0%   { transform: translateY(-2px); }
      100% { transform: translateY(2px); }
    }

    &:hover {
      animation-name: scroll-indicator-animation-quick;
      animation-duration: .25s;

      svg {
        transform: scale(1.1);

        color: $dark-grey-2;
      }
    }

    svg {
      transition: all .2s ease-in-out;
    }
  }
}
