/*
 * Colors
 * -------------------------------------------------------------------------- */

$pure-white: white;
$pure-black: black;

$light-grey-1: #F7F7F7;
$light-grey-2: #E7E7E7;
$light-grey-3: #D8D8D8;

$dark-grey-1: #9B9B9B;
$dark-grey-2: #4A4A4A;

$setting-blue: #78878E;

$oice-red: #E94F4F;
$oice-blue: #0097E8;
$oice-green: #16A122;
$oice-gray: #353343;

$dark-red: #8C2222;
$dark-blue: #2E393E;
$dark-green: #1B7823;

$overlay-grey: rgba(40, 40, 40, 0.8);
$overlay-white: rgba(255, 255, 255, 0.6);
$overlay-blue: rgba(0, 151, 232, 0.2);

$like-green: #28646E;

/*
 * DEPRECATED Colors
 * -------------------------------------------------------------------------- */

$light-gray1: #F7F7F7;
$light-gray2: #F1F0F0;
$light-gray3: #D8D8D8;
$light-gray4: #F9F9F9;
$dark-gray1: #CECECE;
$dark-gray2: #9B9B9B;
$dark-gray3: #686868;
$dark-gray4: #4D4D4D;
$dark-gray5: #333;
$dark-gray6: #4A4A4A;
$dark-gray7: #E6E6E6;

$light-green1: #42BD4D;
$dark-green1: #16A222;
$dark-green2: #107518;

$light-red1: #FF7A7F;
$dark-red1: #FF575F;
$dark-red2: #D9454A;
$dark-red3: #FF5A5F;

$dark-blue1: #1999E5;

/*
 * Typography
 * -------------------------------------------------------------------------- */

$font-size-normal: 14px;
$font-size-small: 12px;

$font-color1: $dark-gray4;
$font-color2: $dark-gray2;
$font-color3: $dark-gray1;
$font-color4: $dark-gray5;

/*
 * Border
 * -------------------------------------------------------------------------- */

$hairline-color: $light-gray3;
$overlay-color: rgba(40,40,40, 0.8);

$border-style1: 1px solid $dark-gray1;
$border-style2: 1px solid $dark-green1;
$border-style3: 1px solid $dark-gray7;
$border-style4: 1px solid $light-grey-3;

/*
 * Metrics
 * -------------------------------------------------------------------------- */

$min-padding: 24px;
$min-padding-narrow: 12px;

@function padding($multiplier: 1){
  @return 24px * $multiplier;
}

$nav-bar-height: 48px;
$nav-bar-mobile-height: 44px;

$footer-height: 40px;

/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

$screen-phone: 658px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-desktop-xl: 1440px;

$max-width: 1244px;

/*
 * Some commonly use mixins
 * -------------------------------------------------------------------------- */

@mixin inherit-size {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
}

@mixin center-child {
  display: flex;

  justify-content: center;
  align-items: center;
}

@mixin aspect-ratio($w-ratio: 1, $h-ratio: 1) {
  position: relative;

  width: 100%;
  padding-top: 100% / $w-ratio * $h-ratio;

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
