.entries-grid {
  margin: 0 -12px;
}

.card-container {
  margin-bottom: padding(2/3);

  border: none;
  border-radius: 0;
  background-color: transparent;

  &:hover {
    box-shadow: none;
  }

  .card-image {
    border-bottom: none;
  }

  .card-content {
    margin: padding(1/3) 0 padding(2/3);
    padding: padding(1/3) 0;

    border-bottom: 1px solid $light-grey-3;
    background-color: transparent;
  }

  .card-header {
    white-space: normal;

    color: $dark-grey-2;

    font-size: 22px;
    line-height: 1.2;
  }
}
