.prize-list {
  .prize {
    padding: 16px 0 28px;

    border-bottom: 1px solid $light-grey-3;

    $thumbnail-size: 277px;

    h4, p {
      margin: padding(1/3) 0;
    }

    .prize-details {
      display: flex;

      margin: #{-1 * padding(2/3)};
      padding: padding(1/3) 0 padding(2/3);

      color: $dark-grey-2;

      > * {
        margin: #{padding(2/3)} #{padding(2/3)} 8px;
      }

      @media screen and (max-width: $screen-phone) {
        align-items: center;
        flex-direction: column;

        > * {
          max-width: $thumbnail-size;
        }
      }
    }

    .credits {
      display: flex;
      align-items: center;

      @media screen and (max-width: $screen-phone) {
        flex-direction: column;

        > * {
          width: 100%;
          max-width: $thumbnail-size;
        }
      }
    }

    .story-thumbnail {
      img {
        width: $thumbnail-size;
        height: $thumbnail-size;

        transition: transform .3s ease-in-out;

        border: 1px solid $light-grey-3;

        object-fit: cover;

        &:hover {
          transform: translateY(-4px);
        }
      }

      @media screen and (max-width: $screen-phone) {
        align-self: center;
      }
    }

    .prize-title {
      margin: 0;

      color: $dark-grey-1;

      font-size: 22px;
      font-weight: 300;
    }

    .story-info {
      h4 {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;

        a {
          transition: color .3s ease-in-out;
          text-decoration: none;

          color: $dark-grey-2;

          &:hover {
            color: darken($dark-grey-2, 30);
          }
        }
      }

      p {
        font-size: 16px;
        line-height: 1.4;
      }
    }

    .judges-comment {
      h4 {
        margin: 24px 0 0;

        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
      }

      p {
        margin-top: 0;

        color: $dark-grey-1;

        font-family: 'source-han-serif-tc', serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.4;

        @media screen and (max-width: $screen-phone) {
          font-size: 22px;
        }
      }
    }
  }
}

.prizes-page footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 40px 0;
}
