@import "../../common/styles/index";
@import "variables";

body {
  overflow-x: auto;
}

#app,
#app-container,
#editor {
  width: inherit;
  height: inherit;
  overflow: auto;
}

.font-color1 {
  color: $font-color1;
}
.font-color2 {
  color: $font-color2;
}
.font-color3 {
  color: $font-color3;
}

@import "editor/index";
