@import "../../common/styles/index";
@import "variables";

body {
  overflow-y: auto;
}

#app,
#web,
#login {
  min-height: 100%;
}

#app {
  position: relative;
}

#web {
  display: flex;
  flex-direction: column;

  .footer {
    position: relative;
  }

  > *:not(.nav-bar):not(.footer) {
    flex-grow: 1;
    padding-top: $nav-bar-height;

    @media screen and (max-width: $screen-tablet) {
      padding-top: $nav-bar-mobile-height;
    }
  }
}
