@import "../../styles/variables";

$character-preview-inset: 24px; // Please change CHARACTER_PREVIEW_INSET in constant.js as well


/*
 * CharacterPreview
 */
.character-preview {
  position: relative;

  padding-top: 100%;

  outline: 1px solid $light-grey-3;

  &:not(.readonly) > div {
    padding: $character-preview-inset;

    // Border Mask
    &::after {
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: "";
      pointer-events: none;

      border: #{$character-preview-inset - 1px} solid transparentize($light-grey-1, 0.1);
    }
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    > div {
      position: relative;

      width: inherit;
      height: inherit;
    }
  }

  .loading-indicator {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
  }
}

/*
 * CharacterPreviewImageDragLayer
 */
.character-preview-drag-preview-layer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

/*
 * DraggableCharacterPreviewImage
 */
.character-preview-droppable-container {
  position: relative;

  width: 100%;
  height: 100%;

  outline: 1px solid $light-grey-3;
  background-color: $light-grey-2;

  .character-preview.readonly & {
    background-color: $light-grey-2 !important;
  }
}

/*
 * DraggableCharacterPreviewImage
 */
.character-preview-draggable-item {
  position: absolute;
  z-index: 2;

  padding: 0px;
}

/*
 * CharacterPreviewImage
 */
.character-preview-image {
  width: 100%;
  height: 100%;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;

  &:not(.readonly) {
    outline: 1px solid $oice-red;

    .character-preview-draggable-item & {
      cursor: move;
    }
  }

  &.flipped {
    transform: scaleX(-1);
  }
}

/*
 * Others
 */
.coordinate-label {
  z-index: 4;

  pointer-events: none;

  font-size: 10px;
  font-weight: 600;
  line-height: 14px;

  .character-preview-droppable-container & {
    position: absolute;

    color: $dark-grey-1;

    &.top {
      bottom: 100%;
    }

    &.left {
      left: 0;
    }

    &.bottom {
      top: 100%;
    }

    &.right {
      right: 0;
    }
  }

  .character-preview-draggable-item & {
    position: absolute;
    color: $oice-red;
  }

  .character-preview-drag-preview-layer & {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: padding(1/4);

    transform: translate3d(-50%, -50%, 0);

    border-radius: 6px;
    background-color: $light-grey-1;

    opacity: 0.7;

    font-size: 20px;
    line-height: 20px;
  }
}

.guideline {
  position: absolute;
  z-index: 1;

  margin: 0px;

  pointer-events: none;

  color: transparent;
  background-color: transparent;

  &.horizontal {
    left: 0;

    width: 100% !important;
    height: 1px !important;

    border-top-width: 1px;
    border-top-color: $light-grey-3;
  }

  &.vertical {
    top: 0;

    width: 1px !important;
    height: 100% !important;

    border-right-width: 1px;
    border-right-color: $light-grey-3;
  }

  &.cross {
    &.horizontal {
      top: 50%;

      border-top-style: dashed;
    }

    &.vertical {
      left: 50%;

      border-right-style: dashed;
    }
  }

  &.golden {
    &.horizontal {
      border-top-style: solid;
    }

    &.vertical {
      border-right-style: solid;
    }

    &.div-1-3 {
      &.horizontal {
        top: 1 / 3 * 100%;
      }
      &.vertical {
        left: 1 / 3 * 100%;
      }
    }

    &.div-2-3 {
      &.horizontal {
        top: 2 / 3 * 100%;
      }
      &.vertical {
        left: 2 / 3 * 100%;
      }
    }
  }
}
