@import "../../../common/styles/index";
@import "../../styles/common";

body {
  overflow-y: auto;
}

#app {
  position: relative;
  padding-bottom: $footer-height;

  min-height: 100%;
}

#asset-library,
#library-details {
  > *:not(.nav-bar):not(.footer) {
    min-height: calc(100% - #{$footer-height});

    @media screen and (max-width: $screen-tablet) {
      min-height: calc(100% - #{$footer-height * 3});
    }
  }

  .tabbar-item.selected::before {
    background-color: $oice-red;
  }
}
