@import "../../styles/common";
@import "../../../common/styles/lazyload";

$asset-grid-item-interspace: 20px;

.asset-grid-list {
  padding: padding() padding(4/3);

  ol {
    display: flex;
    flex-wrap: wrap;

    margin: -($asset-grid-item-interspace / 2);
    padding: 0;

    list-style: none;
  }
}

.asset-grid-list-empty {
  text-align: center;

  color: $light-grey-3;

  font-size: 36px;
  font-weight: 500;
}

.asset-grid-item {
  padding: $asset-grid-item-interspace / 2;

  &.character,
  &.bgimage,
  &.image {
    width: 20%;

    @for $i from 4 through 1 {
      $asset-grid-list-max-width: $i * ($asset-grid-item-interspace + 200px) - $asset-grid-item-interspace + 4 * padding(4/3);
      @media screen and (max-width: $asset-grid-list-max-width) {
        width: 100% / $i;
      }
    }
  }

  &.bgm,
  &.se {
    width: 50%;

    @media screen and (max-width: $screen-tablet) {
      width: 100%;
    }

    &.add-button {
      width: 100%;

      .grey-button {
        height: padding(4);
        padding: padding(2/4);

        color: $dark-grey-1;

        &:hover {
          color: $dark-grey-2;
        }

        .icon-wrapper {
          height: 100%;
          padding-top: 0;
        }
      }
    }
  }

  > div {
    cursor: pointer;
  }
}

.audio-player {
  .asset-grid-list & {
    transition: border, box-shadow .1s ease-in;

    border-radius: 8px;

    &:not(.disabled) {
      background-color: $pure-white;

      &:hover {
        border-color: $oice-red;
        box-shadow: 0 0 0 4px $oice-red;
      }
    }

    .play-button .icon svg {
      color: $oice-red;
    }

    .prgoress-bar-progress {
      background-color: $oice-red;
    }
  }
}

.asset-preview,
.asset-grid-item:not(.se):not(.bgm) .lazyload-placeholder {
  padding-top: 100%;
  position: relative;

  transition: border, box-shadow .1s ease-in;

  border: $border-style4;
  border-radius: padding(1/3);
  background-color: $light-grey-2;
  background-repeat: no-repeat;

  div:hover > & {
    border-color: $oice-red;
    box-shadow: 0 0 0 4px $oice-red;
  }

  &::before {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
  }
}

.bgm,
.se {
  .lazyload-placeholder {
    background-color: $pure-white !important;
    border-radius: padding(1/3);
    border: $border-style4;
  }
}

.asset-preview {
  .character & {
    background-position: center 10px;
    background-size: cover;
  }

  .bgimage & {
    background-size: cover;
  }

  .image & {
    background-position: center;
    background-size: contain;
  }
}

.asset-info {
  margin: padding(1/3) padding(1/6);

  .title {
    color: $dark-grey-2;

    font-size: 14px;
    line-height: 1.25;
  }
}
