@import "../../../styles/variables";

#attributes-panel {
  position: relative;

  width: 100%;

  border-left: $border-style1;
  background-color: $light-gray1;

  .save-button {
    margin: 20px;
  }

  hr {
    float: left;

    width: 100%;
    margin: 0;
  }
}

#attribute-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;

  height: $blocks-panel-padding;
  padding: {
    top: 0;
    bottom: 0;
  }

  span.macro-name {
    font-size: $font-size-normal;
    line-height: $blocks-panel-padding;
  }
}

.attributes-form {
  position: absolute;
  top: 0;
  right: 0;

  overflow-y: auto;

  width: 100%;
  height: calc(100% - #{$blocks-panel-padding});
  margin-top: $blocks-panel-padding;
  padding-bottom: padding(4);

  .dropdown:not(:first-child) {
    margin-top: $min-padding;
  }
}

div.attributes-form-empty {
  margin: 20px;

  color: $dark-gray2;

  font-size: 14px;
}

.attribute-panel-row-group,
.attribute-panel-row {
  float: left;

  width: 100%;
  padding: $attributes-panel-padding;
}

.attribute-panel-row-group .attribute-panel-row {
  padding: 0;
}

.attribute-panel-row {
  width: 100%;

  &.half {
    width: 50%;
  }

  > h5 {
    margin-bottom: $min-padding-narrow;

    color: $dark-gray2;

    font-size: $font-size-normal;
    font-weight: 300;
  }
}

.attribute-panel-row-group.bg-filter {
  #bg-filter-color {
    width: 50px;
  }
  #bg-filter-opacity {
    width: calc(100% - 50px);
  }
}

.option-attribute-panel {
  .option {
    display: flex;

    padding-top: 10px;
    padding-bottom: 3px;

    border-bottom: 1px solid $font-color3;

    .option-label {
      width: 18%;
      padding-right: 3px;
      span {
        color: $font-color2;

        font-size: 13px;
      }
    }
    .option-content {
      width: 82%;
      padding-left: 3px;
      > div.option-desc {
        display: flex;

        > span {
          color: $font-color2;

          font-size: 13px;
        }
        > div.option-cross-button {
          margin-left: auto;

          text-align: right;

          .flat-button {
            min-height: 13px;
            padding: 0;
          }
          svg {
            width: 13px;
            height: 13px;

            color: $font-color2;
          }
        }
      }
    }
  }
}

.attribute-form-image {
  .background {
    .image {
      position: relative;

      width: 100%;
      padding-bottom: 100%;

      border: $border-style1;
      background-repeat: no-repeat;
      background-position: center center;
      background-size:cover;
    }
    .image-meta {
      text-align: center;

      color: $font-color3;

      font-size: 13px;
    }
  }
  .option {
    border-bottom: none;
  }
}

.attribute-form-character-dialog {
  .check-box {
    margin-top: 10px;
  }
  .image-meta {
    text-align: center;

    color: $font-color3;

    font-size: 13px;
  }
}
