@import "../../styles/common";

#character-modal .fg-image-preview {
  display: flex;
  flex-direction: row;

  .character-modal-body-image-selection {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 480px;
    height: 360px;
    margin-right: 12px;
    margin-left: 0px;

    border: 1px solid $light-gray3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .character-modal-add-image-selection {
      padding-left: 10px;

      background-color: $pure-white;
    }

    .character-modal-add-row {
      overflow: -moz-scrollbars-vertical;
      overflow-y: scroll;

      border-bottom: 1px solid $light-gray3;
    }

    .image-selection-row {
      position: relative;

      display: flex;
      flex-direction: row;

      padding: 15px 10px 10px 10px;

      cursor: pointer;

      border-top: 1px solid $dark-gray7;
      background-color: $light-gray4;

      &.selected {
        background-color: $pure-white;
      }

      .fg-image-row-details {
        width: 100%;
        margin-left: 8px;

        > .text-field {
          width: inherit;
        }

        > *:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      .fg-row-cross-button > .flat-button {
        min-height: 0;
        padding: 0 0 0 10px;
      }
    }
  }

  .character-modal-body-character-preview {
    margin-right: 0px;
    margin-left: 12px;
  }

  .character-modal-body-button-group {
    margin: 12px 40px;
  }
}

#character-modal .expansion-panel {
  background-color: $light-gray2;

  font-family: PingFangSC-Regular;

  .expansion-panel-content {
    display: flex;
    flex-direction: row;

    padding-top: 0px;

    .character-modal-panel-name {
      display: flex;
      flex-direction: column;

      width: 370px;

      .character-modal-panel-name-title {
        height: 17px;

        color: $dark-gray2;

        font-size: 12px;
      }

      .character-description {
        margin-top: padding();

        .text-field {
          width: 100%;
          margin-top: padding(1/2);
          padding-right: padding(5/6);
        }
      }

      .character-modal-panel-name-language {
        display: flex;
        flex-direction: row;
        flex-grow: 0;

        margin-top: $min-padding;

        .character-modal-panel-language-title {
          display: flex;
          align-items: center;

          width: 80px;

          color: $dark-gray5;

          font-size: 12px;
        }

        .character-modal-panel-language-input {
          display: flex;
          align-items: center;

          width: 100%;
          padding-right: 20px;
        }
      }

      #character-generic-checkbox {
        margin-top: 16px;
      }
    }

    .character-modal-panel-config {
      display: flex;
      flex-direction: column;

      width: calc(100% - 370px);

      .character-modal-panel-config-height-width {
        display: flex;
        flex-direction: row;

        height: 17px;

        color: $dark-gray2;

        font-size: 12px;

        .character-modal-panel-config-block {
          display: flex;
          flex-direction: row;

          width: 120px;

          .character-modal-panel-config-title {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
          }

          .character-modal-panel-config-value {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 14px;
            font-weight: 900;
          }
        }
      }

      .character-modal-panel-config-coordinate {
        display: flex;
        flex-direction: row;

        margin-top: $min-padding;
        margin-bottom: 10px;

        .character-modal-panel-config-coordinate-modal {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: space-around;

          height: 144px;
          margin-right: 5px;

          border: 1px solid $light-gray3;
          border-radius: 2px;
          background-color: $light-gray4;

          &.selected {
            background-color: $pure-white;
          }

          .character-modal-panel-config-coordinate-title {
            text-align: center;
          }

          .character-modal-panel-config-coordinate-detail {
            display: flex;
            flex-direction: row;

            .character-modal-panel-config-coordinate-detail-title {
              display: flex;
              align-items: center;
              justify-content: center;

              width: calc(100% - 100px);

              text-align: center;
            }

            .character-modal-panel-config-coordinate-input {
              display: flex;
              align-items: center;
              justify-content: center;

              width: 100px;
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
}

#character-modal .character-description {
  .character-modal-panel-description-title {
    padding-bottom: padding(1/3);

    color: $dark-gray2;

    font-size: 12px;
  }
  .character-modal-panel-description-content {
    width: padding(20);
  }
}
