@import '../index';

.assets-management-nav-bar-breadcrumb {
  display: inline-block;
  font-weight: 400;

  li {
    display: inline;
    margin-left: 0 !important;

    a {
      text-decoration: none;
    }

    svg {
      color: $dark-gray2;
      height: 12px;
      margin: 0 5px;
    }
  }

}
