@import "../../styles/variables";

.form {
  .form-section {
    display: flex;
    flex-direction: row;

  }

  .form-section-side {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 15px;
  }

  .form-section-main {
    flex-grow: 1;
  }

  .form-section-side,
  .form-section-main {
    overflow-x: hidden;

    > * {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    > .form-label {
      margin-bottom: 5px !important;
    }
  }
}
