@import "../../../../../styles/variables";
@import "../../../../../../common/styles/lazyload";

.modal-body > .audio-list {
  .lazyload-placeholder {
    border: $border-style4;
  }
}

.modal-footer {
  .dropdown {
    margin: 0 !important;

    .dropdown-menu-row-item:last-child .dropdown-menu-item {
      color: $dark-red1;
    }
  }
}
