@import "../../styles/common";

#connect-stripe-modal {
  .modal-two-body {
    display: flex;
    flex-direction: column;

    padding: padding(2/3) padding() padding() !important;

    .stripe-connect-wrapper {
      text-align: center;
    }

    > a {
      margin-top: padding();

      text-align: center;

      color: $dark-grey-1;

      &:hover {
        color: $dark-grey-2;
      }
    }
  }
}
