@import "../../styles/common";

$upload-audio-item-h-padding: 20px;
$upload-audio-item-interspace: 10px;
$modal-border-style: 1px solid $hairline-color;

.upload-audio-modal {
  .modal-body {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;

    .continue-add-bar {
      padding-left: $upload-audio-item-h-padding;

      border-bottom: $modal-border-style;
    }
  }
}

.upload-audio-item {
  position: relative;

  padding: $upload-audio-item-h-padding;

  border-bottom: $modal-border-style;
  background-color: white;

  > *:not(:first-child) {
    margin-top: $upload-audio-item-interspace;
  }

  .audio-item-header {
    position: relative;

    p {
      margin: 0 !important;

      font-weight: 500;
    }

    .close-icon {
      position: absolute;
      right: 0;
      bottom: 3px;

      width: 10px;
    }
  }

  .upload-progress {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.54);
  }
}
